<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.park.e.bookcafemanager.repository.BookMapper">

    <select id="count" resultType="long">
        SELECT COUNT(*) FROM BOOK
        WHERE
        <foreach collection="search.keyword" item="word" separator="AND">
            REGEXP_REPLACE(${search.criteria}, '[^0-9a-zA-Z가-힣]+','') LIKE '%${word}%'
        </foreach>
    </select>

    <select id="findUsingLimitBy" resultType="dev.park.e.bookcafemanager.dto.BookDto$Response">
        SELECT *
        FROM book
        WHERE
        <foreach collection="search.keyword" item="word" separator="AND">
            REGEXP_REPLACE(${search.criteria}, '[^0-9a-zA-Z가-힣]+','') LIKE '%${word}%'
        </foreach>
        ORDER BY CHAR_LENGTH(${search.criteria}) ASC
        LIMIT ${rowCount}, ${rowLimit}
    </select>

    <select id="findBy" resultType="dev.park.e.bookcafemanager.dto.BookDto$Response">
        SELECT *
        FROM book
        WHERE
        <foreach collection="search.keyword" item="word" separator="AND">
            REGEXP_REPLACE(${search.criteria}, '[^0-9a-zA-Z가-힣]+','') LIKE '%${word}%'
        </foreach>
        ORDER BY CHAR_LENGTH(${search.criteria}) ASC
    </select>

</mapper>